@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pixel';
    src: url('/fonts/Symtext.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #0F232E;
    /* font-family: 'Noto Serif', serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    background-image: url("https://eliti.com.br/assets/imgs/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

h1, h3, h5 {
    font-family: pixel;
    text-decoration: none;
    color: inherit;
}
